{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        .hidden {
            display: none;
        }

        .hidden_error {
            width: 100%;
        }

    </style>

    <div class="container">
        {% if prize is  defined %}{{ dump(prize)}}{% endif %}

        <div class=" d-flex justify-content-center ">
            <h4>click 'play' and win some prize! </h4>
        </div>
        <div class="d-flex justify-content-center" >
            {#<form action="/play" method="POST">#}
            <div class="row ">
                <form action="\play">
                    <button class="btn btn-success" type="submit">play</button>
                </form>
            </div>
        </div>

        <div class="hidden response d-flex justify-content-center">
            <span class="response "></span>
        </div>
        <div id="action_container" class="action d-flex justify-content-center">
            <button class="hidden col-5" id="bank_api">send to bank</button>
            <button class="hidden col-5" id="convert">convert to token</button>
        </div>

    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>

            $('#btn1').click(function () {
                $.getJSON('/play', updateData);
            });

            function updateData(data) {
                console.log(data);
                console.log(data['success'] == true);
                if (data['success']) {
                    console.log('success is true');
                    $('#response,span').text(data['prize']);
                    $('.hidden').show();
                } else
                    console.log((data));
                $('.response,span').text(data['prize']);
                $('.response').show();
            }


        </script>

    {% endblock %}
