{% extends 'base.html.twig' %}

{% block title %}lucky{% endblock %}


{% block body %}
    <div class="d-flex justify-content-center row">
        <h1>{{ notice }}</h1>
    </div>
    <style>
        .hidden {
            display: none;
        }

        .width_100 {
            width: 100%;
        }

    </style>

    <div class="container">
        <div id="action_container" class="action d-flex justify-content-center row">
            <button class="btn btn-success col-4" id="bank_api">send to card of bank</button>
            <div class="col-1"></div>
            <button class="btn btn-success col-4" id="convert">convert</button>
            <h2 id="'response"></h2>
        </div>


    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>
            {% if success == 'true' %}

                $('#bank_api').click(function () {
                    $.getJSON('/payment', updateData);
                });

                $('#convert').click(function () {
                    $.getJSON('/convert/{{ parameter }}', updateData);
                });

            {% else %}

                $('.container').addClass('hidden');
            {% endif %}

            function updateData(data) {
                $('h2').text(data['result']);
                $('.btn').addClass("hidden");
                $('h1').addClass("hidden");
            }
        </script>


    {% endblock %}
