{% extends 'base.html.twig' %}

{% block title %}lucky{% endblock %}


{% block body %}
    <div class="d-flex justify-content-center row">
        <h1 >{{ notice }}</h1>
    </div>
    <style>
        .hidden {
            display: none;
        }

        .width_100 {
            width: 100%;
        }

    </style>

    <div class="container">
        <div id="action_container" class="action d-flex justify-content-center row">
           </div>


    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}

    {% endblock %}
