{% extends "base.html.twig" %}

{% block title %} Login page {% endblock %}
{% block body %}
    <div class="container">
        <!-- Content here -->
        <h1>login page</h1>

            {% if errors %}
                {{ errors.messageKey }}
            {% endif %}
        <form action="{{ path('login') }}" method="post">

            <input type="text" name="_username" value="{{ last_username }}">
            <input type="password" name="_password">
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}